<br><br><center><h1 style="font-size:4em;color:#2467C0">Covid19 Analysis</h1></center>
<br>
<table>
    <col width="500">
    <tr> 
    <p> Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic.</p>
    <p><i>Coronavirus Case Data is provided by Johns Hopkins University(https://github.com/CSSEGISandData/COVID-19).</i></p>
    </tr>
    <tr>
        <td><img src="https://img.medicalexpo.com/images_me/projects/images-g/covid-19-dentists-microscope-33996-15775207.jpg" align="middle" style="width:590px;height:340px;"/></td>
    </tr>
    <tr> 
        <td> Version 1.00</td>  
    </tr>
</table>

In [5]:
%config IPCompleter.greedy=True
%load_ext memory_profiler
%run HelperModule.ipynb
%run PlotModule.ipynb
# Within IPython notebook, add multiple print capabilities
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#%matplotlib notebook
%matplotlib inline

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

<h6 style="font-size:2em;color:#2467C0">Import data</h6>

In [6]:
%%time
date_format = '%m-%d-%Y'
files_jhu_csse_obj = jhu_csse_load_csv(jhu_csse_daily_file_name, date_format)

CPU times: user 955 ms, sys: 151 ms, total: 1.11 s
Wall time: 5.19 s

In [ ]:
if 'df_has_numerical_columns' in locals():
    print ('Ok')
else:
    print('no')

In [7]:
print('--------df_global_confirmed--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_confirmed.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_confirmed.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_confirmed.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_confirmed.head(3)
print('-----------------------------------------')

--------df_global_confirmed--------------
Size:
70756
-----------------------------------------
Shape:

(266, 266)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '9/30/20', '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20',
       '10/6/20', '10/7/20', '10/8/20', '10/9/20'],
      dtype='object', length=266)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39268,39285,39290,39297,39341,39422,39486,39548,39616,39693
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13649,13806,13965,14117,14266,14410,14568,14730,14899,15066
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,51530,51690,51847,51995,52136,52270,52399,52520,52658,52804

-----------------------------------------

In [8]:
print('--------df_us_confirmed--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_confirmed.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_confirmed.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_confirmed.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_confirmed.head(3)
print('-----------------------------------------')

--------df_us_confirmed--------------
Size:
911820
-----------------------------------------
Shape:

(3340, 273)

-----------------------------------------
Columns:

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_',
       ...
       '9/30/20', '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20',
       '10/6/20', '10/7/20', '10/8/20', '10/9/20'],
      dtype='object', length=273)

-----------------------------------------
First 3 rows:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1791,1798,1805,1818,1828,1831,1839,1852,1863,1882
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5640,5997,6024,6048,6073,6085,6116,6134,6141,6172
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,896,898,902,921,921,921,923,927,927,939

-----------------------------------------

In [9]:
print('--------df_global_deaths--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_deaths.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_deaths.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_deaths.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_deaths.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_global_confirmed):
    files_jhu_csse_obj.df_global_confirmed.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_global_confirmed):
    files_jhu_csse_obj.df_global_confirmed.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_global_deaths--------------
Size:
70756
-----------------------------------------
Shape:

(266, 266)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '9/30/20', '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20',
       '10/6/20', '10/7/20', '10/8/20', '10/9/20'],
      dtype='object', length=266)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1458,1458,1458,1462,1462,1466,1467,1469,1470,1472
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,387,388,389,392,396,400,403,407,411,413
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1736,1741,1749,1756,1760,1768,1768,1771,1783,1789

-----------------------------------------

In [10]:
print('--------df_us_deaths--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_deaths.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_deaths.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_deaths.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_deaths.head(3)
print('-----------------------------------------')

--------df_us_deaths--------------
Size:
915160
-----------------------------------------
Shape:

(3340, 274)

-----------------------------------------
Columns:

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_',
       ...
       '9/30/20', '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20',
       '10/6/20', '10/7/20', '10/8/20', '10/9/20'],
      dtype='object', length=274)

-----------------------------------------
First 3 rows:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,27,28,27,27,27,27,27,27,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,52,53,53,53,53,53,55,56,64,64
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,9,9

-----------------------------------------

In [11]:
print('--------df_global_recoveries--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_recoveries.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_recoveries.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_recoveries.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_recoveries.head(3)
print('-----------------------------------------')

--------df_global_recoveries--------------
Size:
67298
-----------------------------------------
Shape:

(253, 266)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '9/30/20', '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20',
       '10/6/20', '10/7/20', '10/8/20', '10/9/20'],
      dtype='object', length=266)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32789,32842,32842,32842,32852,32879,32977,33045,33058,33058
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,7847,8077,8342,8536,8675,8825,8965,9115,9215,9304
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36174,36282,36385,36482,36578,36672,36763,36857,36958,37067

-----------------------------------------

In [12]:
print('--------df_global_latest_data--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_latest_data.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_latest_data.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_latest_data.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_latest_data.head(3)
print('-----------------------------------------')

--------df_global_latest_data--------------
Size:
55370
-----------------------------------------
Shape:

(3955, 14)

-----------------------------------------
Columns:

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

-----------------------------------------
First 3 rows:

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-10 04:23:57,33.93911,67.709953,39693,1472,33058,5163.0,Afghanistan,101.964273,3.708462
1,NaN,NaN,NaN,Albania,2020-10-10 04:23:57,41.15330,20.168300,15066,413,9304,5349.0,Albania,523.524915,2.741272
2,NaN,NaN,NaN,Algeria,2020-10-10 04:23:57,28.03390,1.659600,52804,1789,37067,13948.0,Algeria,120.416748,3.388001

-----------------------------------------

In [13]:
print('--------df_us_latest_data--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_latest_data.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_latest_data.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_latest_data.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_latest_data.head(3)
print('-----------------------------------------')

--------df_us_latest_data--------------
Size:
1044
-----------------------------------------
Shape:

(58, 18)

-----------------------------------------
Columns:

Index(['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'FIPS', 'Incident_Rate',
       'People_Tested', 'People_Hospitalized', 'Mortality_Rate', 'UID', 'ISO3',
       'Testing_Rate', 'Hospitalization_Rate'],
      dtype='object')

-----------------------------------------
First 3 rows:

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-10-10 04:30:24,32.3182,-86.9023,163465,2653,71240.0,89572.0,1.0,3333.853403,1196452.0,NaN,1.622977,84000001,USA,24401.526763,NaN
1,Alaska,US,2020-10-10 04:30:24,61.3707,-152.4044,9182,60,5734.0,3388.0,2.0,1255.151768,493070.0,NaN,0.653452,84000002,USA,67401.185163,NaN
2,American Samoa,US,2020-10-10 04:30:24,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1616.0,NaN,NaN,16,ASM,2904.333136,NaN

-----------------------------------------